<!DOCTYPE html>
<html>
  <style>
    @@media(min-width:700px) {
      background-color: gray;
    }
    @@media(max-width:850px) {
      background-color: peach;
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    table{
      width:10px;
      border:10px;
      margin-left: 25%
    }
    th,td {
            border: 5px solid blue;
            border-collapse:collapse;
            text-align: center;
    }
    td {
        height:30px;
        vertical-align: middle;
        padding: 15px;
    }
    th {
      height:50px;
      background-color:gray;
      vertical-align: middle;
      padding:15px;
    }
    img{
      position: absolute;
      margin: 5%
    }
    #myOlist {
      font-size: 35px;
      font-weight:bold;
      color: red;
      text-align: left;
    }
    ol{
      margin-left:25%
    }
    .myRet{
      font-size: 16px;
      font-weight:bold;
      color: red;
      text-align: center;
    }
    .myitems{
      font-size: 26px;
      font-weight:bold;
      color: magenta;
      background-color: gray;
    }
    .myheader{
      font-size: 35px;
      font-weight:bold;
      color: red;
      text-align: center;
    }
  </style>
</html>
